Part 1
======
 
Arithmetic
----------

Like every programming language, Python is a good calculator. Run the block of code below to make sure the answer is right!

In [1]:
1 + 1

2

In [2]:
8 + 6*2*3 - (15 - 13)

42

In [3]:
42 + 3.149 + -1

44.149

In [4]:
meal = 200.00
# as a decimal, 10% would be 0.1
tip_percent = 0.10
meal * tip_percent

20.0

Part 2
======


Variables
----------

In [5]:
meal = 200.00
print(meal)
meal = "Hello, World!"
print(meal)

200.0
Hello, World!

In [6]:
"Hello, World!"

'Hello, World!'

In [7]:
your_name = "Albert O'Connor"
print("Hello, ")
print(your_name)

Hello,
Albert O'Connor

In [8]:
string = "Hello, World"
string.upper()

'HELLO, WORLD'

In [9]:
string = "Hello, World"
string.lower()

'hello, world'

In [10]:
"Hello, World".upper()

'HELLO, WORLD'

Formating
---------

In [11]:
your_name = "Albert O'Connor"
string = "Hello, {0}!"
print(string.format(your_name))

Hello, Albert O'Connor!

In [12]:
print("Hello, {0}!".format("Albert O'Connor"))

Hello, Albert O'Connor!

{0} is  where the first argument, "Albert O'Connor", to format() is placed in the resulting text. {1} would mean use the second value if there was one. See below!

Indexed by Zero
---------------

Everything in Python is index by 0. We will see this over and over again but for now if you call format like this:

In [13]:
"{0} likes {1}".format("Albert O'Connor", 'Python')

"Albert O'Connor likes Python"

In [14]:
print("200 University Ave. Waterloo, ON")

200 University Ave. Waterloo, ON

Part 3
======

If Else
-------

In [15]:
False is False

True

In [16]:
True is True

True

In [17]:
True is False

False

In [18]:
true is False

NameError: name 'true' is not defined

We can write expressions with operations too.

In [ ]:
1 > 2

In [ ]:
"Cool".startswith("C")

In [ ]:
"Cool".endswith("C")

In [ ]:
"oo" in "Cool"

In [ ]:
42 == 1 # note the double equals sign for equality

In order to write an "if" statement we need code that spans multiple lines

    if condition:
        print("Condition is True")
    else:
        print("Condition is False")

Some things to notice. The if condition ends in a colon (":"). In Python blocks of code are indicated with a colon (":") and are grouped by indentation (white space). Notice the else also ends with a colon (":"), "else:". Let's try changing the condition and see what happens.

In [ ]:
condition = 1 > 2
if condition:
    print("Condition is True")
else:
    print("Condition is False")

In [ ]:
condition = True
if condition:
    print("Condition is True")
else:
    print("Condition is False")
print("Condition is True or False, either way this is outputted")

In [ ]:
# Edit the values of these 3 variables
boolean_literal = False
number = 8
string_literal = "I like to count sheep before bed."

# Leave this code the same please
if number > 10 and boolean_literal and "cows" in string_literal:
    print("Success!")
else:
    print("Try again!")

Part 4
======

Lists
-----

In [ ]:
# The empty list
[]

In [ ]:
x = ["Milk", "Eggs", "Bacon"]
len(x)

In [ ]:
[1,2,3]

In [ ]:
[True, 0, "Awesome"]

We can put variables into a list and set a variable to a list.

In [ ]:
your_name = "Albert O'Connor"
awesome_people = ["Eric Idle", your_name]
print(awesome_people)

"append" is an operator of list. "append" lets you add an item to the end of a list.

In [ ]:
your_name = "Albert O'Connor"
awesome_people = ["Eric Idle", your_name]
awesome_people.append("John Cleese")
print(awesome_people)

We can use square brackets ("[]") again with the variable of the list to access individual elements.

In [ ]:
awesome_people[0]

There is that 0 indexing again. The first element of the list is given index value 0.

In [ ]:
print("These people are awesome: {0}, {1}, {2}".format(awesome_people[0], awesome_people[1], awesome_people[2]))

Can delete, update existing item by index but cannot insert to arbitary index
----------

In [ ]:
x = [[1, 2, 3], [4, 5, 6], [10]]
del x[0]
print x
x[1] = 10
print x

Loops
-----

In [ ]:
your_name = "Albert O'Connor"
awesome_people = ["Eric Idle", your_name]
awesome_people.append("John Cleese")

for person in awesome_people:
    print(person)

This is bascially the same as writing

In [ ]:
person = awesome_people[0]
print(person)
person = awesome_people[1]
print(person)
person = awesome_people[2]
print(person)

In [ ]:
range(0,10)

In [ ]:
for number in range(20, 31):
    print("{0} squared is {1}".format(number, number*number))

In [ ]:
c = 1
while c > 10:
    c+=1
    print(c)

List comprehension
------------------

In [ ]:
y = [2*i for i in range(5)]
print y
y = [2*i for i in range(5) if i < 4]
print y

Part 5
======

Dictionaries
------------

Dictionaries are another container like lists, but instead of being index by a number like 0 or 1 it is indexed by a key which can be almost anything. The name comes from being able to use it to represent a dictionary.

List literals use square brackets ("[]") but dictionaries use braces ("{}"). 

    {"Python": "An awesome programming language", 
     "Monty Python": "A british comedy troupe"}

In a dictionary the key comes first followed by a colon (":") then the value then a comma (",") then another key and so on. This is one situation where a colon doesn't start a block.

Let's see what running the literal dictionary looks like.

In [ ]:
{"Python": "An awesome programming language", 
 "Monty Python": "A british comedy troupe"}

We can assign a dictionary to a variable and we can index it by keys to get the values (definitions) out.

In [ ]:
our_dictionary = {
   "Python": "An awesome programming language", 
   "Monty Python": "A british comedy troupe"
}
our_dictionary["Python"]

We can loop over the keys in a dictionary to list all of our definitions...

In [ ]:
for key in our_dictionary:
    print('The Key is "{0}" and the value is  "{1}"'.format(key, our_dictionary[key]))

In [ ]:
y = {1:1, 'abc':2, 3:[[4, 5, 6], [10]]}
print y[1], y['abc'], y[3]

In [ ]:
y[100] = 5
print y

Part 6
====

Functions
---------

In [ ]:
def factorial(num):
    if num <= 1:
        return 1
    else:
        return(num * factorial(num - 1))

print factorial(5)

Function parameter passing
--------------------------

In [ ]:
def foo(x, y, name, hour, u=10):
    print x, y, name, hour, u
    
foo(1, 3, u=4, hour=3, name='abc')
foo(1, 3, name='abc', hour=3)
foo(u=2, *[3, 4], **{'name':'abc', 'hour':3})

In [ ]:
def foo(x, y=1, *k, **kk):
    print x, y
    for p in k:
        print p
    for n, v in kk.items():
        print v
        
foo(1, 5, *[3, 4], **{'name':'abc', 'hour':3})

Import module/library and its functions
---------------------------------------

In [ ]:
import os
from os import listdir

print os.name
for f in listdir('./'):
    print f

Part 7
====

File I/O
----------

In [ ]:
for line in open('data.txt', 'r').readlines():
    print line

Part 8
======

Everything is an object
-----------------------

In [ ]:
type(14)

In [ ]:
x = 14
dir(x)

Define classes
-------------

In [ ]:
class Car(object):

    wheels = 4

    def __init__(self, make, model):
        self.make = make
        self.model = model
    
    def print_model(self):
        print self.model
        
mustang = Car('Ford', 'Mustang')
print mustang.wheels
print Car.wheels

toyota = Car('Toyota', 'Corolla')

mustang.print_model()
toyota.print_model()

Class attributes and methods can be added and overloaded anytime
-----------------

In [ ]:
class Animal:
    def __init__(self,name):
        self.name = name

    def says(self):
        return "I am an unknown animal"

    
class Dog(Animal): # Dog inherits from Animal (all methods as well)
    def says(self): 
        return "I am a dog named {0}".format(self.name)


unknown = Animal("Animal")
d = Dog("Rover") #calls initialization method from animal

print unknown.says()
print d.says()

d.age = 8
dir(d)